.listing-icon-tab #nav-tab{
    border-bottom: none;
}
.listing-icon-tab{
    display: flex;
    justify-content: end;
    align-items: center;
}
.tab-list-listing li{
    width: 50px;
    margin: auto;
    text-align: center;
}
.big-list-view{
    text-align: center;
}
.list-icon-main{
    display: flex;
    text-align: center;
    justify-content: center;
}
.list-icon-main i{
    padding: 4px 10px;
}
.main-listing-div{
    border: 1px solid transparent;
    margin: 20px 0px;
}
.main-listing-div:hover{
    border-color: black;
}
.table-short-option{
    border-bottom: 1px solid black;
}
.listing-icon-tab #nav-tab button i{
    color: black;
}
.listing-coll-inner:focus{
    box-shadow: none;
}
.listing-data-table tr td{
    padding: 3px 3px;
    font-size: 12px;
}
/* ------------------------------------------ */

.price-range-slider {
    width: 85%;
    float: left;
    padding: 10px 20px;
}
.price-range-slider .range-value {
    margin: 0;
}
.price-range-slider .range-value input {
    width: 100%;
    background: none;
    color: #000;
    font-size: 16px;
    font-weight: initial;
    box-shadow: none;
    border: none;
    margin: 0px 0 7px 0;
}
.price-range-slider .range-bar {
    border: none;
    background: #000;
    height: 3px;
    width: 96%;
    margin-left: 8px;
}
.price-range-slider .range-bar .ui-slider-range {
    background: #bda2ab;
}
.price-range-slider .range-bar .ui-slider-handle {
    border: none;
    border-radius: 25px;
    background: #fff;
    border: 2px solid #bda2ab;
    height: 17px;
    width: 17px;
    top: -0.52em;
    cursor: pointer;
}
.price-range-slider .range-bar .ui-slider-handle + span {
    background: #bda2ab;
}
/*--- /.price-range-slider ---*/
.loose_comman{
    min-width: 635px;
}