.profile_view{
    border: 1px solid #BCC0C3;
    padding: 15px 20px 20px 20px;
    color: #000;
    
}
.profile_view_icon i{
    font-size: 20px;
}
.profile_view_icon_name h5{
    margin-left: 20px;
}
.profile_main_section{
    margin: 50px 0px;
}