.filter_listing_page{
    padding: 15px;
    margin: 15px 0px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 0px 3px 1px #c9c5c5;
}
#your_order_days{
    width: 200px;
}
#select2-your_order_days-results{
    width: 198px;
}
.re_order{
    border: 1px solid #D5D9D9;
    border-radius: 4px;
}
.old-order-detail{
    background: #F0F2F2;
    padding: 10px;
}
#myTabContent{
    margin: 20px 165px;
}
.comman_Ans{
    margin-left: 20px;
}
.old-order-description{
    padding: 20px;
}
.old-order-description img{
    height: 150px;
    width: 150px;
}
.product_name_block p{
    margin-bottom: 0px;
}
.order_action_inner button{
    min-width: 175px;
}