.table-data-loose-diamonds .listing-table{
    border-top: 1px solid black;
}
.listing-icon-tab{
    display: flex;
    justify-content: end;
    align-items: center;
}
.tab-list-listing li{
    width: 50px;
    margin: auto;
    text-align: center;
}